:root {
    --light: #f3f3f3;
    --green: #7d9268;
    --light-green: #cacebc;
    --dark-green: #536344;
    --grey: #707070;
    --light-grey: #979797;
    --dark-grey: #303030;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    color: var(--dark-grey);
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

a {
    color: var(--dark-grey);
}

body {
    font: normal 105% 'PT Sans', sans-serif;
    line-height: 1.8;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.container {
    width: 70%;
    display: flex;
    flex-direction: column;
    background: var(--light);
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
}

.left-column {
    flex-basis: 25%;
    padding: 4%;
    background-color: var(--light-green);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--light);
}

.left-column h2, .left-column li, .left-column a, .left-column b {
    color: var(--dark-grey);
}

.right-column {
    flex-basis: 75%;
    padding: 4% 6%;
}

.header {
    padding-bottom: 50px;
}

section {
    padding: 50px 0 40px;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
}

section {
    border-top: solid 2px var(--green);
}

.left-column section {
    border-color: var(--grey);
}

#skills > ul {
    padding-left: 5%;
}

section li {
    margin-left: 5%;
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.menu-btn {
    width: 36px;
    height: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: 1s;
}

.menu-btn .line {
    display: block;
    height: 4px;
    width: 100%;
    background: var(--dark-green);
}

.menu-btn .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
}

.menu-btn .line2 {
    transition: transform 0.2s ease-in-out;
}

.menu-btn .line3{
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;
}

.active ~ .menu-btn .line1{
    transform: rotate(45deg);
}

.active ~ .menu-btn .line2{
    transform: scaleY(0);
}

.active ~ .menu-btn .line3{
    transform: rotate(-45deg);
}


.menu-list {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    margin: 25px 0;
}

.menu-list ul {
    list-style: none;
    font: normal 150% 'Questrial', sans-serif;
}

.menu-list li {
    margin-bottom: 20px;
}

.menu-list li:first-child {
    margin-top: 15px;
}

.menu-list a {
    text-decoration: none;
    color: var(--dark-green);
}

.menu-list a:hover {
    color: var(--green);
}

h1 {
    margin-bottom: 30px;
    font: normal 450% 'Questrial', sans-serif;
    line-height: 80%;
    letter-spacing: 0.01em;
    color: var(--green);
}

.name {
    font-size: 50%;
    color: var(--grey);
}

.description {
    font: normal 150% 'Questrial', sans-serif;
    letter-spacing: 0.1em;
    color: var(--grey);
}

h2 {
    margin-bottom: 20px;
    font: normal 200% 'Questrial', sans-serif;
    letter-spacing: 0.02em;
    color: var(--green);
}

h3 {
    margin-top: 25px;
    margin-bottom: 5px;
}

.photo {
    width: 95%;
    border-radius: 50%;
    margin-bottom: 40px;
}

#contacts li {
    margin: 0;
    list-style: none;
}

a:hover {
    color: var(--green);
}

footer a:hover {
    color: var(--dark-green);
}

code {
    white-space:pre-wrap;
}

.code-sample p {
    margin: 40px 0 20px 0;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.footer {
    justify-content: center;
    height: 150px;
    background: var(--green);
}

.footer > p {
    margin: 2px auto;
}

.player-frame {
    position:relative;
    padding-bottom: 56.25%;
}

.player {
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
}

@media screen 
and (min-width: 1024px)
and (max-width: 1600px) { 
    .container {
        width: 80%;
    }
}

@media screen 
and (min-width: 768px)
and (max-width: 1024px) { 
    .container {
        width: 100%;
    }

    h1 {
        font-size: 400%;
    }

    .description {
        font-size: 120%; 
    }

    .left-column {
        flex-basis: 40%;
    }

    .right-column {
        flex-basis: 60%;
    }
}

@media screen 
and (max-width: 768px) { 
    .container {
        width: 100%;
    }

    h1 {
        font-size: 300%;
    }

    .description {
        font-size: 100%; 
    }
}